{% extends 'base.html' %}

{% block title%}
<h1>Case overview</h1>
{% endblock %}

{% block content %}
    {% if case_list %}
    <table style="width:100%; text-align:center">
        <tr>
            <th>Case ID</th>
            <th>Patient</th>
            <th>Date Confirmed</th>
            <th>Virus</th>
            <th>Local or Imported</th>
        </tr>
        {% for case in case_list %}
            <tr>
                <td><a href="case_detail/{{ case.id }}/">{{ case.id }}</a></td>

                <td><a href="patient/{{ case.patient_id }}/">{{ case.patient.name }}</a></td>
                <td>{{ case.date_confirmed }}</td>
                <td><a href="virus_detail/{{ case.virus.id }}">{{ case.virus.disease }}</a></td>
                <td>{{ case.category }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No case is available.</p>
    {% endif %}
{% endblock content %}