<!DOCTYPE html>
<html lang=en>

<head>
<title>Login Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<nav class="navbar navbar-default">

      <ul>
        <h1 style="text-align: center;">HotZone</h1>
      </ul>

</nav>


</head>
<body>
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">


                    <h3 id="form-title">Password Reset Completed.</h3>
                    <a href="/login">Log in</a>
				</div>
				<div class="d-flex justify-content-center form_container">

			</div>
		</div>
	</div>
</body>
</html>